.DS_Store
.project
.settings
.idea

*~
*.sw[a-z]

/build/
/dist/
/test/e2e/logs/
/test/e2e/resources/*.yaml
/test/e2e/resources/suites/TestCustom.yaml
/node_modules/
/scripts/build/
example/crd.yaml
test/e2e/*.xml
test/e2e/*.zip
test/e2e/*.tar.gz
e2e.test
example-logs/
couchbase-operator-certification*.tar.bz2
/artifacts/

# These are for CI/CD shizzle.
go
gopath
/go/
/bin/
/venv/
scripts/venv/
/node-*/

*terraform.*
package-lock.json
/.vscode/

